*{
    box-sizing: border-box;
    
}

.display-4 {
    text-align: center;
}

.lead {
    text-align: center;
}

.planner {
    width: 100%;
    text-align: center;
    display:block;
    
}

.input-section {
    
    width: 80%; 
    margin-right: 10px;
    height: 70px;
    display: flex;
    align-items: top;
    width: 90%;
    
}

label {
    width: 20%;
    border-style: none;
    margin: 0;
    border-right: solid;
    border-right-color  : gray;
    height: 100%;
    border-top-style: solid; 
    border-color: grey;
    border-width: .1rem;
    text-align: right;
    padding-right: 1%;
    
}

textarea {
    width: 72%;
    height: 97%;
    border-style: hidden;
    word-wrap: break-word;
    border-color: gray;
    border-top-style: solid; 
    border-color: lightgrey;
    border-width: .05rem;
}


img {
    margin: 0;
    background-color:teal;
    padding: 0;
    width: 15%;
    border-top-right-radius:.5em;
    border-bottom-right-radius: .5rem;
    height: 70px;   
    border-left-width: .2rem;
    border-top-style: solid;
    border-top-width:.1rem;
    border-color: grey;
    border-bottom-style: hidden;
}

.current-time{
    background-color: red;
}

.past-time {
    background-color: #ccc;
}

.future-time {
    background-color: green;
}
